@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4%;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    @include overlay;
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// menu overlay

.menu {
  position: fixed;
  top: 0;
  width: 100%;

  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  // nav item side
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    opacity: 0.9;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // branding side
  &-branding {
    background-color: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    opacity: 0.98;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("/dist/img/daniel.png");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 400;
    color: set-text-color($primary-color);
    text-decoration: none;
    // @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// delay each nav item slide by 0.1 sec

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

// about page

#about {
  @include overlay;
  .about-info {
    display: flex;
    margin-top: 4%;

    .bio-image {
      margin-right: 2%;
      img {
        border-radius: 50%;
        border: 2px solid $secondary-color;
      }
    }

    .bio {
      font-size: 1.3rem;
    }
  }
}

// work/projects page

#work {
  background-color: rgba($primary-color, 0.9);
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    img {
      width: 100%;
      border: 2px solid #fff;

      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

#contact {
  @include overlay;
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .contact-info {
      display: flex;
      flex-direction: column;

      .element {
        margin-bottom: 2rem;
        a {
          border: 2px solid $secondary-color;
          padding: 0.5rem 2rem;
          @include easeOut;
          &:hover {
            background-color: $secondary-color;
            color: set-text-color($secondary-color);
            padding: 1rem 3rem;
          }
        }
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #444;
}

#main-footer {
  text-align: right;
  padding: 5px 4%;
  // background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  position: absolute;
  width: 100%;
  bottom: 0;
}

@import "mobile";
